<!DOCTYPE html>
<html>
<head>
  <title>ReDiddet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-ex1-collapse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ReDiddet", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <% if user_signed_in? -%>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Submit link', new_link_path %></li>
          <li><%= link_to 'Account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        </ul>
      <% else -%>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        </ul>
      <% end -%>
    </div><!--/.nav-collapse -->
  </div>
</nav>

  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

      <div id="content" class="col-md-9 center-block">
        <%= yield %>
        <%#= debug params %>
      </div>
    </div>
  </div>
</body>
</html>
